.Banner{
    min-height:80vh;
    background-image: url(./../public/pic6.webp);
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 5rem;
}
.Banner h4{
    color: #fff;
    font-size: 3rem;
    text-shadow: 0 0 3px #333;
}
.Banner button{
    border: none;
    padding: 0.6rem;
    margin: 5px;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    opacity: 0.5;
}
.Banner p{
    font-size: 1.2rem;
    width: 23vw;
    color: #fff;
}
.movieposter img{
    height: 15rem;
    width: 15rem;
    object-fit: contain;
}
.movieposter img:hover{
    transform: scale(1.20);
    transition: all 5s ease-in-out;

}
.movieposter{
    overflow: auto;
    gap: 4px;
}
::-webkit-scrollbar{
    overflow: hidden;
}
.Nexflix img{
    height: 15rem;
    width: 15rem;
    object-fit: contain;

}





/* button{
    color: fuchsia;
    font-size: 5rem;
    background-color: black;
}
h1{
    background-color: rebeccapurple;
} */

